.about_us{
    margin-left: 1%;
    font-family: manrope;
    font-size: 22px;
    p{
        width: 50%;
    }
}
#about{
    margin-left: 20%;
    font-weight: lighter;
}
#us{
    color: #F57C00;
}
#line{
    border: solid #F57C00 2px;
}
#hb{
    color: #F57C00;
    font-size: 24px;
}
.mama{
    display: flex;
      width: 100%;
      position: relative;
      margin-top: 0%;

}
.mama p{
    margin-top: 20%;
}
#mamamboga{
    width: 60%;
}
#img{
    position: absolute;
    width: 36%;
    left: 65%;
    border-radius: 0% 0% 0% 50%;
    top: -25%;
}
@media only screen and (max-width: 600px) {
    .about_us{
        font-size: 2 rem;
    }
    .mama{
        display: grid;
    }
    #mamamboga{
        width: 100%;
    }
}