.faq {
    display: flex;
    gap: 3%;
}

.statement {
    border-bottom: 3px solid rgb(250, 164, 4);
    width: 30vw;
    padding-left: 5%;
    font-size: 150%;

}

.statement p {
    transform: translateY(60%);
}

.explanation {
    /* border:  1px solid red; */
    padding-top: 12%;
    position: relative;
    display: inline-block;
}

.explanation_drop {
    display: none;
    position: absolute;
    width: 20vw;
    bottom: -10vw;
    left: -20VW;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
    padding: 1vw;
    border-radius: 1vw;

}

.explanation:hover .explanation_drop {
    display: block;
}

.show {
    display: block;
}

.left_faq {
    display: flex;
    gap: 15%;
}

h1 {
    text-align: center;
    font-size: 240%;
}

section {
    width: 80%;
    margin: auto;
}

@media (max-width: 480px) {
    .left_faq {
        flex-direction: column;

    }

    .explanation {
        padding-top: 15vh;

    }

    .explanation_drop {
        width: 35vh;
        left: -31vh;
        top: 17vh;
        height: 17vh;
    }

    .statement {
        width: 100%;
        height: 16vh;

    }
}


@media screen and (min-width:480px) and (max-width: 912px) {
    .explanation {
        padding-top: 30%;
    }

    .explanation_drop {
        width: 35vw;
        left: -37vw;
        top: 10vh;
        height: 13vh;

    }

    .statement {
        width: 28vh;
        padding-bottom: 1vw;

    }

    .faq {
        transform: translateX(-20%);
    }

}

@media screen and (min-width:912px) and (max-width: 1024px) {

    .faq {
        width: 40vw;
    }
}