body{
    font-family: "Manrope";
    overflow-x: hidden;

}
.home-bg{
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 47%;
    background-image: url(Images/home.jpg);
     height: 100%;
        img{

width: 10%;
position: relative;
    }
}
.icons{
    margin-left: 25%;
    word-spacing: 1.5em;
    color: #e05c00;
}

.home-content{
position: absolute;
background-color: white;
top: -2%;
right: 0%;
width: 70%;
height: 90%;
border-radius: 1% 1% 1% 70%; 
text-align: center;
nav {
    padding-top: 5%;
    font-size: 1.5rem;
display: flex;
flex-wrap: wrap;
margin-left: 5%;
gap: 5%;
a{
    text-decoration: none;
    color: black;
}

 
}

h1{
    margin-top: 7%;
    font-size: 5em;

}
h1 span{
    color: #F57C00;
}
}
nav a:hover{
color: #F57C00;
border-bottom: solid 1px  #F57C00 ;
}
.home-content p{
    margin-left: 22%;
    width: 60%;
     font-size: 2.5em;
     font-family: "Kodchasan";

}
.home-content button{
    margin-top: 4%;
    margin-left: 7%;
    text-decoration: none;
    background-color: #F57C00;
    color: white;
    cursor: pointer;
    border: none;
    height: 7%;
    padding: 1%;
    width: 19%;
    border-radius: 50px;
    font-size: 1.5rem;
}
.home-content button:hover{
    background-color: #773f07;
}
#vendors{
 background-color: #ee943a;
}

.about_us{
    margin-left: 1%;
    font-family: manrope;
    font-size: 22px;
    p{
        width: 50%;
    }
}
#about{
    margin-left: 20%;
    font-weight: lighter;
}
#us{
    color: #F57C00;
}
#line{
    border: solid #F57C00 2px;
}
#hb{
    color: #F57C00;
    font-size: 24px;
}
.mama{
    display: flex;
      width: 100%;
      position: relative;
      margin-top: 0%;

}
.mama p{
    margin-top: 20%;
}
#mamamboga{
    width: 60%;
}
#img{
    position: absolute;
    width: 36%;
    left: 65%;
    border-radius: 0% 0% 0% 50%;
    top: -25%;
}

@media only screen and (max-width: 600px) {
    .about_us{
        font-size: 2 rem;
    }
    .mama{
        display: grid;
    }
    #mamamboga{
        width: 100%;
    }
}
















@media only screen and (max-width:430px) {
.home-bg{
    height: 74vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}

.home-content{
    width: 100%;
    border-radius: 0% 0% 50% 50%; 
    height: 75%;
nav {
    padding-top: 10%;
    font-size: 1rem;

display: flex;
flex-wrap: wrap;
gap: 5%;

}
h1{
    margin-top: 15%;
    font-size: 3.5em;

}

}
.home-content p{
    margin: 15%;
    width: 70%;
     font-size: 1.2em;
}
.home-content button{
    margin: 2%;
    padding: 2%;
    width: 35%;
    border-radius: 50px;
    font-size: 0.9rem;
}

}
@media only screen and (max-width:768px) {
 .home-bg{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}

.home-content{
    width: 100%;
    border-radius: 0% 0% 50% 50%; 
    height: 75%;

}
.home-content p{
    margin: 15%;
    width: 70%;
    font-size: 1.5em;
}
.home-content button{
    margin: 4%;
    padding: 2%;
    width: 30%;
    border-radius: 50px;
    font-size: 1rem;
}
.home-content nav {
    font-size: 1rem;
}
}
@media only screen and (width:375px) {
.home-bg{
    height: 74vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}

.home-content{
    width: 100%;
    border-radius: 0% 0% 50% 50%; 
    height: 75%;
nav {
    padding-top: 10%;
    font-size: 1rem;

display: flex;
flex-wrap: wrap;
gap: 5%;

}
h1{
    margin-top: 15%;
    font-size: 3.5em;

}

}
.home-content p{
    margin: 15%;
    width: 70%;
     font-size: 1.2em;
}
.home-content button{
    margin: 2%;
    padding: 2%;
    width: 35%;
    border-radius: 50px;
    font-size: 0.9rem;
}

}
@media only screen and (max-width:768px) {
 .home-bg{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}

.home-content{
    width: 100%;
    border-radius: 0% 0% 50% 50%; 
    height: 75%;

}
.home-content p{
    margin: 15%;
    width: 70%;
    font-size: 1.5em;
}
.home-content button{
    margin: 4%;
    padding: 2%;
    width: 30%;
    border-radius: 50px;
    font-size: 1rem;
}
.home-content nav {
    font-size: 1rem;
}
}
@media only screen and (width:1024px) {
 .home-bg{
    height: 25vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}
.home-content{
    width: 85%;
    border-radius: 5% 0% 0% 50%; 
    height: 100%;
     h1 {
    margin-top: 10%;
    font-size: 3em;

}
}
.home-content p{
    margin: 9% 23%;
    width: 60%;
    font-size: 1.5em;
}
.home-content button{
    margin: 1%;
    padding: 2%;
    width: 25%;
    border-radius: 50px;
    font-size: 1rem;
}
}
@media only screen and (width:1280px){
     .home-bg{
    height: 30vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}
.home-content{
    width: 85%;
    border-radius: 5% 0% 0% 50%; 
    height: 100%;
     h1 {
    margin-top: 10%;
    font-size: 5em;

}
}
.home-content p{
    margin: 9% 23%;
    width: 60%;
    font-size: 2em;
}
.home-content button{
    margin: 1%;
    padding: 2%;
    width: 25%;
    border-radius: 50px;
    font-size: 1.5rem;
}
}

@media only screen and (width:853px){
           .home-bg{
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}
    .home-content{
    width: 100%;
    border-radius: 0% 0% 50% 50%; 
    height: 55%;
nav {
    padding-top: 10%;
    font-size: 1.5rem;

display: flex;
flex-wrap: wrap;
gap: 5%;

}
h1{
    margin-top: 8%;
    font-size: 3.5em;

}

}
.home-content button{
    width: 25%;
    padding: 1%;
    font-size: 1.rem;
}
.home-content p{
    margin: 9% 23%;
    width: 60%;
    font-size: 2em;
}
}

@media only screen and (width:820px){
           .home-bg{
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}
    .home-content{
    width: 100%;
    border-radius: 0% 0% 50% 50%; 
    height: 65%;
nav {
    padding-top: 10%;
    font-size: 1.5rem;

display: flex;
flex-wrap: wrap;
gap: 5%;

}
h1{
    margin-top: 8%;
    font-size: 3.5em;

}

}
.home-content button{
    width: 25%;
    padding: 1%;
    font-size: 1.rem;
    margin-top: 0%;
}
.home-content p{
    margin: 9% 23%;
    width: 60%;
    font-size: 2em;
}
}
@media only screen and (width:912px){
           .home-bg{
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.5)),url(Images/home.jpg);
}
    .home-content{
    width: 100%;
    border-radius: 0% 0% 50% 50%; 
    height: 65%;
nav {
    padding-top: 10%;
    font-size: 1.5rem;

display: flex;
flex-wrap: wrap;
gap: 5%;

}
h1{
    margin-top: 8%;
    font-size: 3.5em;

}

}
.home-content button{
    width: 25%;
    padding: 1%;
    font-size: 1.rem;
    margin-top: 0%;
}
.home-content p{
    margin: 9% 23%;
    width: 60%;
    font-size: 2em;
}
}




section{
h1,
h2,
h3 {
    color: #333;
}
}
.highlight {
    color: #ff6600;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.first-section {
    text-align: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.title h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone-images {
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
}

.phone-img {
    position: absolute;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.phone-back-left {
    transform: rotate(-10deg) translateX(-20%) translateY(10px);
    z-index: 1;
    opacity: 0.8;
}

.phone-front {
    z-index: 3;
    transform: translateY(0);
}

.phone-back-right {
    transform: rotate(10deg) translateX(20%) translateY(10px);
    z-index: 2;
    opacity: 0.8;
}

.vendors-section {
    text-align: left;
    margin-left: 50px;
    position: relative;
}

.vendors-section h2 {
    font-size: 5em;
    margin-bottom: 20px;
    color: #e05c00;
}

.vendor-list {


    margin-right: 150px;
    margin-bottom: 30px;
    margin-left: 0;
}

.vendor-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.4em;
    margin-left: 0;
}


.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;

}

.groceries-img {
    position: absolute;
    top: 90%;
    right: -80px;
    width: 100%;
    height: 70%;

}

.download-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 50px;
    
}

.download-button:hover {
    background-color: #e05c00;
}


.grow-business-section {
    text-align: center;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
}

.grow-business-section h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.grow-business-section .description {
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 1.1em;
    color: #555;
}

.vendors-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 280px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-front {
    transform: translateY(-30px);
    box-shadow: 0 8px 16px rgba(206, 97, 8, 0.2);
    z-index: 4;
}

.feature-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.sales-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.box h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #ff6600;
    
}

.box p {
    font-size: 0.95em;
    color: #666;
}

.vegetable-basket-img {
    position: absolute;
    bottom: -50px;
    right: 50px;
    width: 250px;


}






@media (max-width: 480px)
 {

.title h1 {
    font-size: 1.5em;
    margin-bottom: 40px;
}
.vendors-icon {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.content {
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
}
.phone-images {
    position: relative;
    width: 100px;
    height: 150px;
    left: -40px;
    margin-bottom: 50px;
}
.vendors-section {
        margin-left: 0;
        margin-top: 30px;
    }

.vendor-list {


    margin-right: 150px;
    margin-bottom: 30px;
    margin-left: 0;
}

.vendor-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.0em;
 
}


 .vendors-section h2 {
   
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #e05c00;
} 

    .feature-box-front {
        transform: translateY(0);
        
    }


.feature-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 180px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


    .groceries-img,
    .vegetable-basket-img {
        position: static;
     
        margin: 20px auto;
        display: block;
        opacity: 1;
    }
}


@media (max-width: 912px)
 {

.title h1 {
    font-size: 1.5em;
    margin-bottom: 40px;
}
.vendors-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.content {
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
}
.phone-images {
    position: relative;
    width: 100px;
    height: 150px;
    left: -40px;
    margin-bottom: 50px;
}
.vendors-section {
        margin-left: 0;
        margin-top: 30px;
    }

.vendor-list {


    margin-right: 150px;
    margin-bottom: 30px;
    margin-left: 0;
}

.vendor-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.0em;
 
}


 .vendors-section h2 {
   
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #e05c00;
} 

    .feature-box-front {
        transform: translateY(0);
        
    }


.feature-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 180px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


    .groceries-img,
    .vegetable-basket-img {
        position: static;
     
        margin: 20px auto;
        display: block;
        opacity: 1;
    }
}
@media (width: 1024px)
 {
.phone-images {
    position: relative;
    width: 200px;
    height: 170px;
    left: -40px;
    margin-bottom: 50px;
}
 }


 strong{
    color: #F57C00;
}
#contactHeading{
    text-align: center;
}
hr{
   border: solid #F57C00 1px;
}
form{
    justify-content: center;
    background-color: #F57C00;
    width: 45vw;
    border-radius: 0.7em;
    padding: 3em;
    margin-top: 5%;
}
label{
    color: white;
}
.userInputs{
    display: flex;
    gap: 15em;
}
#email,#name{
    padding: 0.7em;
    border: none;
    width: 20em;
    margin-top: 3%;
    border-radius: 0.2em;
}
#text{
    padding: 2em;
    border: none;
    width: 57em;
    height: 12em;
    border-radius: 0.3em;
    margin-top: 1%;
}

#messageLabel{
    color: white;
}
hr{
    color: #F57C00;
}
.contactSection{
    display: flex;
    justify-content: center;
}
#contactButton{
    transform: translate(49em,1em);
     color: #F57C00;
     border: none;
     width: 12em;
     border-radius: 0.3em;
     padding:1em ;
}
@media only screen and (min-width: 0px) and (max-width:600px) {
  form{
    justify-content: center;
    background-color: #F57C00;
    width: 70vw;
    border-radius: 0.7em;
    padding: 3em;
}
label{
    color: white;
}
.userInputs{
    flex-direction: column;
    gap: 1em;
}
#email,#name{
    padding: 0.7em;
    border: none;
    width: 15em;
    border-radius: 0.2em;
}
#text{
    padding: 2em;
    border: none;
    width: 15em;
    height: 10em;
    border-radius: 0.3em;
}
#messageLabel{
    color: white;
}
hr{
    color: #F57C00;
}
.contactSection{
    display: flex;
    justify-content: center;
}
#contactButton{
        transform: translate(7em,1em);
}
}
@media only screen and (min-width: 601px) and (max-width:800px){
  form{
    justify-content: center;
    background-color: #F57C00;
    width: 70vw;
    border-radius: 0.7em;
    padding: 3em;
}
label{
    color: white;
}
.userInputs{
    flex-direction: column;
    gap: 1em;
}
#email,#name{
    padding: 0.7em;
    border: none;
    width: 15em;
    border-radius: 0.2em;
}
#text{
    padding: 2em;
    border: none;
    width: 35em;
    height: 10em;
    border-radius: 0.3em;
}
#messageLabel{
    color: white;
}
hr{
    color: #F57C00;
}
.contactSection{
    display: flex;
    justify-content: center;
}
#contactButton{
        transform: translate(27em,1em);
}
}
@media only screen and (min-width: 801px) and (max-width:999px) {
form{
    justify-content: center;
    background-color: #F57C00;
    width: 80vw;
    border-radius: 0.7em;
    padding: 3em;
    position: absolute;
    top: 15%;
    font-size: 1em;
}
label{
    color: white;
}
.userInputs{
    display: flex;
    gap: 5em;
}
#email,#name{
    padding: 0.7em;
    border: none;
    width: 20em;
    margin-top: 3%;
    border-radius: 0.2em;
}
#text{
    padding: 2em;
    border: none;
    width: 45em;
    height: 12em;
    border-radius: 0.3em;
    margin-top: 1%;
}
.messageInputs{
    position: relative;
    transform: translateY(8%);
}
#messageLabel{
    color: white;
}
hr{
    color: #F57C00;
}
.contactSection{
    display: flex;
    justify-content: center;
}
#contactButton{
    transform: translate(37em,1em);
     color: #F57C00;
     border: none;
     width: 12em;
     border-radius: 0.3em;
     padding:1em ;
}
}
@media only screen and (min-width: 1000px) and (max-width:1400px) {
form{
    justify-content: center;
    background-color: #F57C00;
    width: 80vw;
    border-radius: 0.7em;
    padding: 3em;
    position: absolute;
    top: 15%;
    font-size: 1.6em;
}
label{
    color: white;
}
.userInputs{
    display: flex;
    gap: 9em;
}
#email,#name{
    padding: 0.9em;
    border: none;
    width: 20em;
    margin-top: 3%;
    border-radius: 0.2em;
}
#text{
    padding: 2em;
    border: none;
    width: 58em;
    height: 12em;
    border-radius: 0.3em;
    margin-top: 1%;
}
.messageInputs{
    position: relative;
    transform: translateY(8%);
}
#messageLabel{
    color: white;
}
hr{
    color: #F57C00;
}
.contactSection{
    display: flex;
    justify-content: center;
}
#contactButton{
    transform: translate(20em,1em);
     color: #F57C00;
     border: none;
     width: 12em;
     border-radius: 0.3em;
     padding:0.7em ;
     font-size: 1em;
}
}


footer{
    margin-top: 1%;
    background-color: black;
    color: white;
}
.footerSection{
    display: flex;
    gap: 15em;
 font-size: 1.5em;
 justify-content: center;
}
#footerLogo{
    width: 7em;
}
.footerLeftContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerRightContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerCopyright{
    background-color: #FF6C00;
    #copyrightText{ #copyrightText{
        text-align: center;
    }
        text-align: center;
    }
}
#footerLogoText{
    color: grey;
}
@media only screen and (min-width:0px) and (max-width:500px){
    footer{
    background-color: black;
    color: white;
    width: 100vw;
}
.footerSection{
    flex-direction: column;
    gap: 1em;
 font-size: 1.7em;
 align-items: center;
}
#footerLogo{
    width: 5em;
   transform: translate(50%);
}
#footerLogoText{
    text-align: center;
}
.footerLeftContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerRightContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerCopyright{
    background-color: #FF6C00;
    #copyrightText{
        text-align: center;
    }
}
}
@media only screen and (min-width:700px) and (max-width:501px){
    footer{
    background-color: black;
    color: white;
}
.footerSection{
    flex-direction: column;
    gap: 1em;
 font-size: 1.2em;
 align-items: center;
}
#footerLogo{
    width: 5em;
   transform: translate(50%);
}
#footerLogoText{
    text-align: center;
}
.footerLeftContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerRightContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerCopyright{
    background-color: #FF6C00;
    #copyrightText{
        text-align: center;
    }
}
}
@media only screen and (max-width:900px) and (min-width:701px){
.footerSection{
    display: flex;
    flex-direction: column;
    gap: 2em;
 font-size: 1.5em;
 justify-content: center;
 margin-left: 10em;
}
#footerLogo{
    width: 10em;
}
.footerLeftContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerRightContainer{
    ul{
        list-style: none;
        line-height: 2em;
    }
}
.footerCopyright{
    background-color: #FF6C00;
    #copyrightText{ #copyrightText{
        text-align: center;
    }
        text-align: center;
    }
}
#footerLogoText{
    color: grey;
}
}
@media only screen and (max-width:1200px) and (min-width:901px){
.footerSection{
    display: flex;
    gap: 1em;
 font-size: 1.5em;
 justify-content: center;
}
#footerLogo{
    width: 5em;
    margin-top: 2em;
}
}


.customer_container{
    display: flex;
    gap:30vh;
}
.customer_activity{
    display: flex;
}
.customer_heading{
    color: #F57C00;
     margin-left: 20vh;
     font-size: 300%;
     padding-top: 5vh;
}
#name_haba{
    color: #F57C00;
}
.line{
   border: solid #F57C00;
}
#why_choosehaba{
    text-align: center;
    margin-top: 5vh;
    font-size: 300%;
}
.customer_side{
    margin-left: 20vh;
    padding-top: 10vh;
}
#numbers{
   color: white;
   text-align: center;
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    background-color: #F57C00;
}
#number_words{
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    font-size: 170%;
}
#numbers_two{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    text-align: center;
    background-color: #F57C00;
    color: white;
}
#phone_image{
    height: 15vh;
    margin-left: -25vh;
    margin-top: 40vh;
}
.application_outlook{
    display: flex;
}
.image_container{
    margin-top: -10vh;
}
#playstore_icon{
    height: 3vh;
    margin-top: -1.5vh;
}
.playstore_container{
    display: flex;
}
#playstore_words{
    font-weight: lighter;
    margin-top: -0.5vh;
    font-size: 100%;
    margin-left: 2vh;
}
#get_on{
    font-size: 110%;
}
#playstore_container{
    width: 10vw;
    background-color: white;
    border: solid 2px #F57C00;
    margin-left: 2vh;
    margin-top: -2vh;
}
#work_words{
    color: #F57C00;
}
#working{
    text-align: center;
    font-size: 300%;
}
.howitworks{
    margin-top: 20vh;
}
.howitworks_container{
    display: flex;
    margin-left: 15vh;
    margin-top: 15vh;
    text-align: center;
    gap: 30vh;
    i{
        /* border: solid; */
        padding: 17% 20% 17% 10%;
        width: 5%;
        border-radius: 50%;
        font-size: 50px;
        background-color: #F57C00;
        color: white;
    }
}
.howitworks_text{
    border: solid 2px #F57C00;
    width: 20vw;
    height: 30vh;
    text-align: center;
    margin-top: 10vh;
    box-shadow: 0 2px  #F57C00;
    font-size: 130%;
}
@media only screen and (max-width:750px) {
 .customer_container{
    display: flex;
    gap:30vh;
}
.customer_activity{
    display: flex;
    flex-direction: column;
}
.customer_heading{
    color: #F57C00;
     margin-left: 20vh;
     font-size: 300%;
     padding-top: 5vh;
}
#name_haba{
    color: #F57C00;
}
.line{
   border: solid #F57C00;
}
#why_choosehaba{
    text-align: center;
    margin-top: 5vh;
    font-size: 300%;
}
.customer_side{
    margin-left: 20vh;
    padding-top: 10vh;
}
#numbers{
   color: white;
   text-align: center;
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    background-color: #F57C00;
}
#number_words{
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    font-size: 170%;
}
#numbers_two{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    text-align: center;
    background-color: #F57C00;
    color: white;
}
#phone_image{
    height: 15vh;
    margin-left: -25vh;
    margin-top: 40vh;
}
.application_outlook{
    display: flex;
}
.image_container{
    margin-top: -10vh;
}
#playstore_icon{
    height: 3vh;
    margin-top: -1.5vh;
}
.playstore_container{
    display: flex;
}
#playstore_words{
    font-weight: lighter;
    margin-top: -0.5vh;
    font-size: 100%;
    margin-left: 2vh;
}
#get_on{
    font-size: 110%;
}
#playstore_container{
    width: 10vw;
    background-color: white;
    border: solid 2px #F57C00;
    margin-left: 2vh;
    margin-top: -2vh;
}
#work_words{
    color: #F57C00;
}
#working{
    text-align: center;
    font-size: 300%;
}
.howitworks{
    margin-top: 20vh;
}
.howitworks_container{
    display: flex;
    margin-left: 15vh;
    margin-top: 15vh;
    text-align: center;
    gap: 30vh;
    i{
        /* border: solid; */
        padding: 17% 20% 17% 10%;
        width: 5%;
        border-radius: 50%;
        font-size: 50px;
        background-color: #F57C00;
        color: white;
    }
}
.howitworks_text{
    border: solid 2px #F57C00;
    width: 20vw;
    height: 30vh;
    text-align: center;
    margin-top: 10vh;
    box-shadow: 0 2px  #F57C00;
    font-size: 130%;
}
}
@media only screen and (min-width:751px) and (max-width:999px) {
.customer_container{
    display: flex;
    gap:30vh;
}
.customer_activity{
    display: flex;
}
.customer_heading{
    color: #F57C00;
     margin-left: 20vh;
     font-size: 300%;
     padding-top: 5vh;
}
#name_haba{
    color: #F57C00;
}
.line{
   border: solid #F57C00;
}
#why_choosehaba{
    text-align: center;
    margin-top: 5vh;
    font-size: 300%;
}
.customer_side{
    margin-left: 20vh;
    padding-top: 10vh;
}
#numbers{
   color: white;
   text-align: center;
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    background-color: #F57C00;
}
#number_words{
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    font-size: 170%;
}
#numbers_two{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    text-align: center;
    background-color: #F57C00;
    color: white;
}
#phone_image{
    height: 15vh;
    margin-left: -25vh;
    margin-top: 40vh;
}
.application_outlook{
    display: flex;
}
.image_container{
    margin-top: -10vh;
}
#playstore_icon{
    height: 3vh;
    margin-top: -1.5vh;
}
.playstore_container{
    display: flex;
}
#playstore_words{
    font-weight: lighter;
    margin-top: -0.5vh;
    font-size: 100%;
    margin-left: 2vh;
}
#get_on{
    font-size: 110%;
}
#playstore_container{
    width: 10vw;
    background-color: white;
    border: solid 2px #F57C00;
    margin-left: 2vh;
    margin-top: -2vh;
}
#work_words{
    color: #F57C00;
}
#working{
    text-align: center;
    font-size: 300%;
}
.howitworks{
    margin-top: 20vh;
}
.howitworks_container{
    display: flex;
    margin-left: 15vh;
    margin-top: 15vh;
    text-align: center;
    gap: 30vh;
    i{
        /* border: solid; */
        padding: 17% 20% 17% 10%;
        width: 5%;
        border-radius: 50%;
        font-size: 50px;
        background-color: #F57C00;
        color: white;
    }
}
.howitworks_text{
    border: solid 2px #F57C00;
    width: 20vw;
    height: 30vh;
    text-align: center;
    margin-top: 10vh;
    box-shadow: 0 2px  #F57C00;
    font-size: 130%;
}
}
@media only screen and (min-width:1000px) and (max-width:1300px) {
.customer_container{
    display: flex;
    gap:30vh;
}
.customer_activity{
    display: flex;
}
.customer_heading{
    color: #F57C00;
     margin-left: 20vh;
     font-size: 300%;
     padding-top: 5vh;
}
#name_haba{
    color: #F57C00;
}
.line{
   border: solid #F57C00;
}
#why_choosehaba{
    text-align: center;
    margin-top: 5vh;
    font-size: 300%;
}
.customer_side{
    margin-left: 20vh;
    padding-top: 10vh;
}
#numbers{
   color: white;
   text-align: center;
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    background-color: #F57C00;
}
#number_words{
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    font-size: 170%;
}
#numbers_two{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    text-align: center;
    background-color: #F57C00;
    color: white;
}
#phone_image{
    height: 15vh;
    margin-left: -25vh;
    margin-top: 40vh;
}
.application_outlook{
    display: flex;
}
.image_container{
    margin-top: -10vh;
}
#playstore_icon{
    height: 3vh;
    margin-top: -1.5vh;
}
.playstore_container{
    display: flex;
}
#playstore_words{
    font-weight: lighter;
    margin-top: -0.5vh;
    font-size: 100%;
    margin-left: 2vh;
}
#get_on{
    font-size: 110%;
}
#playstore_container{
    width: 10vw;
    background-color: white;
    border: solid 2px #F57C00;
    margin-left: 2vh;
    margin-top: -2vh;
}
#work_words{
    color: #F57C00;
}
#working{
    text-align: center;
    font-size: 300%;
}
.howitworks{
    margin-top: 20vh;
}
.howitworks_container{
    display: flex;
    margin-left: 15vh;
    margin-top: 15vh;
    text-align: center;
    gap: 30vh;
    i{
        /* border: solid; */
        padding: 17% 20% 17% 10%;
        width: 5%;
        border-radius: 50%;
        font-size: 50px;
        background-color: #F57C00;
        color: white;
    }
}
.howitworks_text{
    border: solid 2px #F57C00;
    width: 20vw;
    height: 30vh;
    text-align: center;
    margin-top: 10vh;
    box-shadow: 0 2px  #F57C00;
    font-size: 130%;
}
}

.faq{
    display: flex;
  gap: 3%;
}
.statement{
    border-bottom:  3px solid rgb(250, 164, 4);
    width: 30vw;
    padding-left: 5%;
    font-size: 150%;
}
.statement p{
    transform: translateY(60%);
}
.explanation{
 /* border:  1px solid red; */
 padding-top: 12%;
  position: relative;
     display: inline-block;
}
.explanation_drop{
 display: none;
     position: absolute;
     width:20vw ;
     bottom: -10vw;
     left: -20VW;
     border: 1px solid black;
     background-color: white;
     z-index: 1;
     padding: 1vw;
     border-radius: 1vw;
}
 .explanation:hover .explanation_drop {
     display: block;
 }
.show {display:block;}
.left_faq{
    display: flex;
    gap: 15%;
}

.questions{
   /* border: 1px solid black; */
   width: 80%;
   margin: auto;
   h1{
    text-align: center;
    font-size: 240%;
}
}